src/main/mule/jsontostring.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a555a393-f7b1-4658-9498-63f87d7ed971" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jsontostringFlow" doc:id="a41f5641-af29-4c24-b127-6f17a7f0502e" >
		<http:listener doc:name="Listener" doc:id="2ca45214-e17c-49e9-a44c-2c4e30eac668" config-ref="HTTP_Listener_config" path="/jsonToString" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="9404c838-d9d6-45b0-b4e1-600fe8c7898d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

'Welcome!' ++ payload.firstName ++ payload.lastname ++ '. Your Customer id is ' ++ payload.cid as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
